<!DOCTYPE html>
<html>
  <head>
    <title>HandySkill</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

   	<body>
   		<div class="container-fluid">
	      	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top"> 
		      	<%= link_to "Handyman", root_path, class: "navbar-brand" %>
			    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
			      <span class="navbar-toggler-icon"></span>
			    </button>

			    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
				    <ul class="navbar-nav mr-auto">
				        <li class="nav-item">
				          <%= link_to "Signup", "javascript:void(0)", class: "nav-link" %>
				        </li>
				        <li class="nav-item">
				        	<%= link_to "Login", "javascript:void(0)", class: "nav-link" %>
				        </li>
				        <li class="nav-item">
				          <%= link_to "Browse", "javascript:void(0)", class: "nav-link"  %>
				        </li>
				     </ul>
			    </div>
			</nav><!-- .navbar-collapse -->
			<p class="notice"><%= notice %></p>
 			<p class="alert"><%= alert %></p>
	    	<%= yield %>
	    </div>
  	</body>
</html>
